<div class = "container">
    <div class="ui grid">
      <div class="eight wide column">
        <img id="404hag" class ="left floated image" src="/imgs/scaredhag.png">
      </div>
      <div class="eight wide column">
        <div class = "not-found">
          <h1>404 PAGE NOT FOUND.</h1>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
</div>