<div class="ui stackable two column grid">
  <div class="column">
    <div class = "not-found center aligned">
      <img class = "" src="/imgs/logocaps.png">
      <h1>404 PAGE NOT FOUND.</h1>
      <a href="javascript:history.back()">←Go Back</a><br>
      <a href="/">← Back To Home</a>
    </div>
  </div>
   <div class="column">
    <img id="404hag" class ="left floated image" src="/imgs/scaredhag.png" style ="width: 90%;
    margin-top: 10px;
    padding: 20px;
    margin-left: -168px;">
  </div>
</div>