<!--Top Nav-->
<div class="ui secondary pointing menu right floated">
  <a class="item" href="#features">
    Features
  </a>
  <a class="item" href="#about">
    About
  </a>
  <a class="item" href="#download">
    Download
  </a>
  <a class="item"href="/login">
    Login 
  </a>
  <a class = "item" href="/register">
    Sign Up
  </a>        
</div>

<!--Main cover-->
     <img class = "cover-img" src="/imgs/coverimgwhite.png">
     <div class="ui text shape slogan">
        <div class="sides">
          <div class="ui header side active"><h1>Haggle Better Worldwide</h1></div>
          <div class="ui header side"><h1>Avoid scammers</h1> </div>
          <div class="ui header side"><h1>Get the best price with HAGG</h1></div>
        </div>
    </div>

<!--Features-->
<div class = "center aligned">
        <h3 class="ui horizontal divider header">Features</h3>

        <h4>Realtime Visual Displays </h4>
        <h4>Currency Converter</h4>
        <h4>Map with Geo-Location</h4>
        <h4>Contribute and Add Prices to our Database</h4>

</div>

<!--About-->
   <div class = "center aligned" id="about"></div>
    <!--Technologies used-->
      <div id ="technologies-used">
        <h3 class="ui horizontal divider header">Technologies Used: </h3>
          <div class="ui middle aligned divided list">

             <div class="item">
                <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/images/avatar2/small/lena.png">
                <div class="content">
                Lena
                </div>
            </div>

             <div class="item">
                <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/images/avatar2/small/lena.png">
                <div class="content">
                Lena
                </div>
            </div>
                        
           </div>
      </div>
    <!--Meet the team-->
     <div id = "team">
        <h3 class="ui horizontal divider header">Meet the Team: </h3> 
          <div class = "ui center aligned grid">
            <div class = "four wide column">
              <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Thomas J Trebat</div>
                  <div class="center aligned description">
                    <p>Backend: SQL Database & Login Authentication</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                   <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                  </div>
                </div>
              </div>
            </div>
        <div class = "four wide column">
          <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Luis Rishi Puno</div>
                  <div class="center aligned description">
                    <p>Backend: Product Info</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                  </div>
                </div>
              </div>
            </div>
        <div class ="four wide column">
            <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Brian Mejia</div>
                  <div class="center aligned description">
                    <p>Backend: Google Maps API / Geo-Location</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class = "four wide column">
                <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Alicia Chan </div>
                  <div class="center aligned description">
                    <p>Front-End / UI Design</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
<!--Download-->

  <div class = "center aligned" id="download">
      <h2>Get Hagg on your moblie and tablets </h2>
        <img class="iphone-img" src="/imgs/iphoneipad.png">
        <img class="app-icon" src="/imgs/iconapp.png">
        <img class = "apple-btn" src="/imgs/appstoreapple.png">
        <img class="gplay-btn" src="/imgs/google-play-badge.png">   
   </div>

<script src="/js/main.js"></script>