<body style="background-color: #f3f3f3;">
<!--Top Nav-->
<div class="ui secondary pointing menu right floated">
  <a class="item" href="#features">
    Features
  </a>
  <a class="item" href="#about">
    About
  </a>
  <a class="item" href="#download">
    Download
  </a>
  <a class="item"href="/login">
    Login 
  </a>
  <a class = "item" href="/register">
    Sign Up
  </a>        
</div>

<!--Main cover-->
     <img class = "cover-img hidden content" src="/imgs/cover1.png">
     <div class="ui text shape slogan">
        <div class="sides">
          <div class="ui header side active"><h1>Haggle Better Worldwide <i class = "fighter jet icon"></i></h1></div>
          <div class="ui header side"><h1>Avoid scammers <i class = "user secret icon"></i></h1> </div>
          <div class="ui header side"><h1>Get the best price with HAGG <i class ="money bill alternate outline icon"></i></h1></div>
        </div>
    </div>


<div class = "content-container ui center aligned grid">

<div class = "row">
<!--Features-->
<div class = "center aligned">
        <h3 class="ui horizontal divider header" id="#features">Features</h3>

        <h4>Realtime Visual Displays </h4>
        <h4>Currency Converter</h4>
        <h4>Map with Geo-Location</h4>
        <h4>Contribute and Add Prices to our Database</h4>

</div>
</div>
<!--About-->
   <div class ="center aligned" id="about"></div>
    <!--Technologies used-->
      <div id ="technologies-used">
         <h3 class="ui horizontal divider header" id="#features">Technologies</h3>
          <div class="ui middle aligned divided list">

             <div class="item">
                <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/imgs/semantic-ui.png">
                <div class="content">
                Semantic UI
                </div>
            </div>

             <div class="item">
                <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/imgs/currencylayer.png">
                <div class="content">
                CurrencyLayer
                </div>
            </div>

            <div class="item">
                <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/imgs/oauth-trans.png">
                <div class="content">
                Google OAuth
                </div>
            </div>
            
            <div class="item">
              <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/imgs/sequelize.png">
                <div class="content">
                Sequelize
                </div>
            </div>
            
            <div class="item">
              <div class="right floated content">
                  <div class="ui button">Add</div>
                </div>
                <img class="ui avatar image" src="/imgs/node.png">
                <div class="content">
                Node.js
                </div>
            </div>
                        
           </div>
      </div>
    <!--Meet the team-->
     <div id = "team">
        <h3 class="ui horizontal divider header">Meet the Team</h3> 
          <div class = "ui center aligned grid">
            <div class = "four wide column">
              <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Thomas J Trebat</div>
                  <div class="center aligned description">
                    <p>OAuth Integration & Sequelize Models</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="/imgs/matthew.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/tjtrebat"><i class="github icon"></i>tjtrebat</a>
                    </div>
                    <div class = "row">
                    <a href = "tjtrebat@gmail.com"><i class = "envelope open icon"></i>tjtrebat@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class = "four wide column">
          <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Luis Rishi Puno</div>
                  <div class="center aligned description">
                    <p>Full Stack</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="/imgs/elliot.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/LRPuno"><i class="github icon"></i>LRPuno</a>
                    </div>
                    <div class = "row">
                    <a href = "Lrpuno@gmail.com"><i class = "envelope open icon"></i>Lrpuno@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class ="four wide column">
            <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Brian Mejia</div>
                  <div class="center aligned description">
                    <p>Project Management/Maps API</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="/imgs/otherguy.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/Bmejia319"><i class="github icon"></i>Bmejia319</a>
                    </div>
                    <div class = "row">
                    <a href = "bmejia319@gmail.com"><i class = "envelope open icon"></i>bmejia319@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = "four wide column">
                <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Alicia Chan </div>
                  <div class="center aligned description">
                    <p>Front-End / UI Design</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/aliciaC1"><i class="github icon"></i>aliciaC1</a>
                    </div>
                    <div class = "row">
                    <a href = "chan.aliciaw@gmail.com"><i class = "envelope open icon"></i>chan.aliciaw@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
<!--Download-->
     <h3 class="ui horizontal divider header">Download</h3> 
<div class = "row">

  <div class = "ui grid center aligned" id="download">
  
      <div class = "row">

      <div class="eight wide column">
        <img class="iphone-img" src="/imgs/iphoneapp.png">
      </div>
      <div class = "eight wide column appStore">
        <div class = "row">
           <img class="app-icon" src="/imgs/iconapp.png">
        </div>
         <div class = "row">
              <img class = "apple-btn" src="/imgs/app-download-buttons.png">
                    <p>Get Hagg on your moblie and tablets </p>
         </div>
     
        {{!-- <img class="gplay-btn" src="/imgs/google-play-badge.png">    --}}
      </div>
     
       </div>
   </div>
   </div>
</div>
<div class="ui footer basic segment">
      <div class="ui container center aligned">
       
           <div class = "eight wide column">
        <a href="https://github.com/tjtrebat/project-2"><i class ="code icon"></i> View Code</a>
      </div>
        <div class = "eight wide column">
        <p>
          © Copyright HAGG 2018 
        </p>
        </div>
       
   
      </div>
    </div>
<script src="/js/main.js"></script>
