   <div class="ui secondary pointing menu right floated">
        <a class = "item" href="/logout">
            Log Out
        </a>
        </div>
  <div class ="container">
    <div class = "ui middle aligned centered grid">
      <div class = "row">
          <div class = "search-info">
              <div class = 'ui grid'>
                <div class = "sixteen wide column">
                    <img class ="hagLogo center aligned" src="/imgs/logocaps.png">
                </div>
                  <div class = "sixteen wide column">
                       <div class="ui text shape">
                          <div class="sides">
                              <div class="ui header side active"><h2>Get Started...</h2></div>
                              <div class="ui header side"><h2>Enter Your Location</h2></div>
                              <div class="ui header side"><h2>Select a Product</h2></div>
                          </div>
                      </div>
                  </div>
                  <div class = "sixteen wide column">      
                      <div class="ui floating dropdown labeled search icon button search-select" id ="search-select">
                          <i class="map marker alternate icon"></i>
                          <span class="text">Select Location</span>
                              <div class="menu">
                                  <div class="item" value="newYork">
                                      New York   
                                      <img class="ui avatar image" src="/imgs/NYICON.png"> 
                                  </div>
                                  <div class="item" value="detroit">
                                      Detroit
                                      <img class="ui avatar image" src="/imgs/DETROIT.png">
                                  </div>
                                  <div class="item" value="cleveland">
                                      Cleveland
                                      <img class = "ui avatar image" src="/imgs/exports_Cleveland-512.png">
                                  </div>
                              </div>
                      </div>
                  </div>
          
                  <div class ="sixteen wide column">
                        <div class="ui floating dropdown labeled search icon button search-select" id ="search-select">
                          <i class="world icon"></i>
                           <span class="text">Select Product</span>
                           <div class="menu">
                              <div class="item"value="tshirt">
                                  T-Shirt   
                                  <img class="ui avatar image" src="/imgs/ILNYT.png"> 
                              </div>
                              <div class="item" value="fidgetSpinner">
                                  Fidget Spinner
                                  <img class="ui avatar image" src="/imgs/spinner_fidget_toy-11-01-512.png">
                              </div>
                              <div class="item" value="keyChain">
                                  Key Chain 
                                  <img class = "ui avatar image" src="/imgs/keychain.png">
                              </div>
                          </div>
                       </div>
          
                  </div>
                  <div class = "sixteen wide column">
                          <div class="ui animated button submit button" tabindex="0" href="/product">
                              <div class="visible content">Next</div>
                              <div class="hidden content">
                                <i class="right arrow icon"></i>
                              </div>
                          </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

<script src="/js/main.js"></script>