.main-logo{
    position: absolute;
    margin-left: 68px;
    margin-top: 42px;
    width: 12%;
}

.container{
    position: absolute;
    margin-top: 221px;
    width: 60%;
    margin-left: 140px;
}


.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34, 36, 38, 0);
}


.cover-img {
    width: 70%;
    margin-top: 59px;
    margin-left: 450px;
    opacity: 1;
    padding: 10px;
}

h1{
    font-weight: 100;
}

h3{
    font-weight: 100;
}


h3.ui.header {
    font-size: 1.28571429rem;
    font-weight: 100;
}


.ui.shape .side * {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    height: 76px;
    width: 600px;
    text-align: center;
    background-color: #f9f8f8db;
    padding: 20px;
}

.iphone-img{
    width: 63%;
    margin-left: 200px;
}

.appStore{
    top: 38px;
    right: 214px;
}

.apple-btn{
    width: 360px;
}

.gplay-btn{
    width: 300px;
}
.app-icon{
    width: 16%;
}

.not-found{
 
    margin-top: 100px;
    margin-left: 225px;

}

.content-container{
    padding: 20px;
    width: 90%;
}

.container {
    position: absolute;
    margin-top: 50px;
    width: 80%;
    margin-left: 140px;
}

.hagLogo{
    width: 184px;
    margin-bottom: -20px;
}

.ui.search.dropdown {
    width: 393px;
    height: 36px;
    font-size: rem;
    background-color: transparent;
    text-align: center;
    font-weight: 100;
}

.ui.shape .side * {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    height: 76px;
    width: 600px;
    text-align: center;
    background-color: #ffffffd9;
    padding: 20px;
    font-weight: 100;
}

div.animated.button.submit {
    margin-top: 56px;
    margin=left: 10px;
    background: #00000003;
    margin-left: 493px;
    font-weight: 100;
    border: 1px solid #c6c6c63b;
    width: 150px;
}

.ui.button{
    background: #00000003;
    font-weight: 100;
    border: 1px solid #c6c6c63b;
}

.logo-login{
    width: 195px;
    padding: 20px;
}

.ui.animated.button {
    position: relative;
    overflow: hidden;
    padding-right: 0!important;
    vertical-align: middle;
    z-index: 1;
    width: 300px;
}

.ui.horizontal.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    line-height: 1;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
}


.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
    width: 300px;
}


.slogan {
    margin-left: 158px;
    padding: 10p;
    margin-top: -555px;
    border: none;
    /* position: absolute; */
    /* margin-bottom: 60px; */
}

#myChart{
    background-color: black;
}

.addPrice{
    padding: 10px;
    width: 300px;
    /* position:relative; */
}

.ui.label{
    width: 36px;
}

.ui.vertical.curBTN.animated.button{
    width: 45px;
}

.productInfo{
    width: 60%;
    left: 29%;
    position: relative;
}

.ui.vertical.menu {
    width: 25rem;
}

.cchart{
    width: 60%;
    left: 26%;
    top: 36px;
    position: relative;
 }

 .ui.header>.image:not(.icon), .ui.header>img {
    display: inline-block;
    margin-top: .14285714em;
    width: 6.5em;
    height: auto;
    vertical-align: middle;
}

.ui.aligned.grid .column>.segment:not(.compact):not(.attached), .ui.grid .aligned.row>.column>.segment:not(.compact):not(.attached) {
    width: 57%;
}

.product-dashboard.ui.grid{
    margin-left: 5%;
    width: 100%;
}

.logoProduct {
    width: 101px;
    margin-left: 17%;
    margin-top: -4%;
}

#newPrice{
    width: 113px;
    top: 20px;
}

.block.ui.header {
    height: 95px;
    width: 376px;
    font-size: 4rem;
    float: right;
    margin-top: 100px;
    margin-right: 39px;
    /* margin-left: 67px; */
    background: tansparent;
    /* padding-bottom: 0px; */
    background-color: transparent;
}

   /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       /* #map {
        height: 384px;
        width: 35%;
        float: right;
        top: 100px;
        right: 103px;
        position: absolute;
    } */
  img.sidehaglogo{
    margin-left: 88px;
    width: 101px;
  }

  #map {
    height: 400px;
    width: 100%;
    /* float: right; */
    /* top: 100px; */
    /* right: 103px; */
    /* top: 100px; */
    position: relative;
    padding: 10px;
    top: 33px;
}
.map-container {
    margin-left: 35%;
    margin-top: 153px;
    width: 60%;
    margin-bottom: 93px;
   
}


h2.ui.header.titleproduct{
    float: left;
    padding: 10px;
    margin-left: 79px;
    margin-top: 20px;
}