body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 200;
}


.list-group-item {
    line-height: 2.5;
}


.main-logo{
    position: absolute;
    margin-left: 68px;
    margin-top: 42px;
    width: 12%;
}

.container{
    position: absolute;
    margin-top: 221px;
    width: 60%;
    margin-left: 140px;
}


.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34, 36, 38, 0);
}


.cover-img{
    width: 70%;
    margin-top: 59px;
    margin-left: 368px;
    opacity: 1;
}


h1{
    font-weight: 100;
}

h3{
    font-weight: 100;
}


h3.ui.header {
    font-size: 1.28571429rem;
    font-weight: 100;
}


.slogan{
    margin-left: 158px;
    /* padding: 10px; */
    margin-top: -427px;
    /* position: absolute; */
    /* padding: 20px;
    background-color: whitesmoke; */
}

.ui.shape .side * {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    height: 76px;
    width: 600px;
    text-align: center;
    background-color: #f9f8f8db;
    padding: 20px;
}

.iphone-img{
    width: 43%;
}

.apple-btn{
    width: 35%;
}

.app-icon{
    width: 16%;
}

.not-found{
 
    margin-top: 100px;
    margin-left: 225px;

}

.content-container{
    padding: 20px; 
}

.container {
    position: absolute;
    margin-top: 50px;
    width: 80%;
    margin-left: 140px;
}